 
  .form {
    display: flex;
    gap: 10px;
  }

  
  
  .compl {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
  }
  
  .button:hover {
    background-color: #2980b9;
  }